body {
    background-image:url("https://th.bing.com/th/id/R.69b08049c6d273b105d121ca15762e7b?rik=UhL2VAamSYcYlQ&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fMcL%2fMG9%2fMcLMG9Eca.jpeg&ehk=G03bB3TtbssDsCwjI9VhJz44Qp0Dz3%2bjLN3Vc5Y7gK0%3d&risl=&pid=ImgRaw&r=0");
    background-position:cover;
}

#one {
width:150px;
height:50px;
}

#one:hover{
background-color:bisque;
color:black;
}

h3 {
font-family:'Signika Negative', sans-serif;
width:20%;
font-size:45px;

}
 
canvas {
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {

    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px yellow;}
}